

html, body, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
      font-family: Verdana;
      font-size: 16px;
      font-weight: normal;
      text-decoration: none;
      color: black;
  }

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

header > h1 {
    flex-grow: 1;
    margin-left: 15px;
    font-weight: bold;
    font-size: 32px;
}

nav {
    flex-grow: 2;
    align-self: top;
    display: flex;
    justify-content: end;
}

nav > a {
    width: 75px;
}

header > img {
    width: 75px;
    height: 75px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 32px;;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0 15px 0 15px;
}

article {
    display: flex;
    flex-direction: column;
    margin: 15px 15px 0 15px;
    width: 100%;
    border: black;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    justify-content: center;
}

article > h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: lightgray;
    border-bottom: 2px solid black;
    border-left: 2px solid  black;
    align-self: flex-end;
    height: 50px;
    width: 50%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

article > p {
    text-align: justify;
    padding: 15px;
}

footer {
    height: 100px;
    background-color: lightgray;
    display: flex;
    margin-top: 15px;
    border-top: 2px solid  black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}

.author {
    font-weight: bold;
}

.hamburger {
    display: none;
}

@media all and (max-width: 900px) {
    main {
        flex-wrap: wrap;
   }
   nav, header > h1  {
       display: none;
   }
   header {
    justify-content: space-between;
   }
   .hamburger {
    display:block;
    }
}